/* Header */
.header{
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header a {
  padding: 15px 25px 0 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: white;
}

.header-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img{
  height: 300px;
}
/* Header */


/* Footer */
.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright p {
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: white;
}
/* Footer */


/* App formulario */
.container-queja{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-envio-queja{
  display: flex;
  flex-direction: column;
}

.form-envio-queja label{
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: white;
  margin-top: 25px;
}

input{
  margin-left: 15px;
  height: 25px;
  width: 500px;
  border-radius: 15px;
  padding-left: 15px;
}
textarea{
  margin-top: 15px;
  height: 150px;
  padding: 10px;
}

.btn-enviar{
  width: auto;
  height: 45px;
  border-radius: 21px;
  margin-top: 25px;
  background: transparent;
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: white;
  border: 1px solid white; 
  cursor: pointer;
}
.btn-enviar:hover{
  background-color: #3137db;
}


/* App formulario */
